node-red/flows.json
[{"id":"d50d55f2.48d4a8","type":"tab","label":"Aquarium","disabled":false,"info":""},{"id":"2bb43f04.7f0d5","type":"tab","label":"FkngDndBot","disabled":false,"info":""},{"id":"78aa23bf.a8a78c","type":"tab","label":"Randimals","disabled":false,"info":""},{"id":"69f5f0ca.3d57a","type":"subflow","name":"Subflow 1","info":"","in":[],"out":[]},{"id":"3e559124.2e2dbe","type":"mqtt-broker","z":"","name":"mosquitto-localhost","broker":"mosquitto","port":"1883","clientid":"node-red","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1ba14a11.a87566","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"MM/DD/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"371eed61.690a12","type":"ui_tab","z":"","name":"FkngDndBot","icon":"dashboard","order":2},{"id":"1e56d15.7cf6b2f","type":"ui_group","z":"","name":"FkngDndBot","tab":"371eed61.690a12","order":1,"disp":true,"width":"6","collapse":true},{"id":"bab86709.ffc668","type":"mongodb","z":"","hostname":"mongodb","port":"27017","db":"test","name":"MongoDb"},{"id":"cbf49309.a3f5c","type":"ui_tab","z":"","name":"Ranimals","icon":"dashboard","order":3},{"id":"a2e4c46e.8b6a58","type":"ui_group","z":"","name":"Randimals","tab":"cbf49309.a3f5c","disp":true,"width":"6","collapse":false},{"id":"3afa6b4d.785a74","type":"ui_tab","z":"","name":"Aquarium","icon":"dashboard","order":1},{"id":"744c464d.98be08","type":"ui_group","z":"","name":"Temperature","tab":"3afa6b4d.785a74","order":1,"disp":true,"width":"6","collapse":false},{"id":"9a826ce1.e347a","type":"ui_group","z":"","name":"Humidity","tab":"3afa6b4d.785a74","order":2,"disp":true,"width":"6","collapse":false},{"id":"5bd40c9a.41f5e4","type":"mqtt in","z":"78aa23bf.a8a78c","name":"mosquitto","topic":"randimals","qos":"2","broker":"3e559124.2e2dbe","x":90,"y":60,"wires":[["cfec8c20.2beec"]]},{"id":"198bb7ce.134418","type":"inject","z":"2bb43f04.7f0d5","name":"CheckInterval","topic":"","payload":"","payloadType":"date","repeat":"900","crontab":"","once":true,"onceDelay":0.1,"x":140,"y":100,"wires":[["8583bab1.be1488","b3847898.3af8f8"]]},{"id":"8583bab1.be1488","type":"http request","z":"2bb43f04.7f0d5","name":"ApiHealthCheck","method":"GET","ret":"obj","url":"https://api.telegram.org/bot578585799:AAGMAtQNmKvJlIwxRhgh72K3JsNa3AjBosI/getMe","tls":"","x":360,"y":100,"wires":[["47aecd40.ab5c44","ccbc3b34.b82698"]]},{"id":"ccbc3b34.b82698","type":"debug","z":"2bb43f04.7f0d5","name":"ApiDebug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":340,"y":140,"wires":[]},{"id":"9f9ff103.51afd","type":"e-mail","z":"2bb43f04.7f0d5","server":"smtp.gmail.com","port":"465","secure":true,"name":"lockan@gmail.com","dname":"SendFailMail","x":1070,"y":200,"wires":[]},{"id":"983b7eec.aa093","type":"ui_text","z":"2bb43f04.7f0d5","group":"1e56d15.7cf6b2f","order":1,"width":0,"height":0,"name":"BotStatus","label":"Diagnostics","format":"<font color=\"{{msg.color}}\">{{msg.botstatus}}</font>","layout":"row-spread","x":160,"y":240,"wires":[]},{"id":"47aecd40.ab5c44","type":"switch","z":"2bb43f04.7f0d5","name":"SwitchStatus","property":"payload.ok","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":100,"wires":[["c4d4cbc0.232d48"],["530be47c.8f329c"]]},{"id":"c4d4cbc0.232d48","type":"change","z":"2bb43f04.7f0d5","name":"SystemOnline","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"botstatus","pt":"msg","to":"Systems Online","tot":"str"},{"t":"set","p":"color","pt":"msg","to":"#00ff00","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":80,"wires":[["6c6e1ae2.d118e4"]]},{"id":"530be47c.8f329c","type":"change","z":"2bb43f04.7f0d5","name":"SystemFailure","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"botstatus","pt":"msg","to":"System Failure Detected","tot":"str"},{"t":"set","p":"color","pt":"msg","to":"#ff0000","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":120,"wires":[["6c6e1ae2.d118e4","2162ec1d.0d4f64"]]},{"id":"98afa3b2.3c194","type":"link in","z":"2bb43f04.7f0d5","name":"StatusIn","links":["6c6e1ae2.d118e4"],"x":55,"y":240,"wires":[["983b7eec.aa093"]]},{"id":"6c6e1ae2.d118e4","type":"link out","z":"2bb43f04.7f0d5","name":"StatusOut","links":["98afa3b2.3c194"],"x":935,"y":80,"wires":[]},{"id":"7a24c7cd.3bcc08","type":"ui_switch","z":"2bb43f04.7f0d5","name":"ToggleFailMail","label":"Warning E-mails","group":"1e56d15.7cf6b2f","order":3,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":120,"y":300,"wires":[["d5b01d.90a33fe"]]},{"id":"5c017fb0.5d6ab","type":"change","z":"2bb43f04.7f0d5","name":"FormatMail","rules":[{"t":"set","p":"topic","pt":"msg","to":"FkngDndBot: System Failure Detected","tot":"str"},{"t":"set","p":"from","pt":"msg","to":"Node-Red","tot":"str"},{"t":"set","p":"to","pt":"msg","to":"lockan@gmail.com","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"FkngDndBot has detected an error. Please check bot and telegram api status. ","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1030,"y":160,"wires":[["9f9ff103.51afd"]]},{"id":"2162ec1d.0d4f64","type":"switch","z":"2bb43f04.7f0d5","name":"isMailEnabled","property":"mailEnabled","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1000,"y":120,"wires":[["5c017fb0.5d6ab"]]},{"id":"d5b01d.90a33fe","type":"change","z":"2bb43f04.7f0d5","name":"setMailEnabled","rules":[{"t":"set","p":"mailEnabled","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":300,"wires":[[]]},{"id":"cfbe4aac.971908","type":"mongodb out","z":"78aa23bf.a8a78c","mongodb":"bab86709.ffc668","name":"db.randimals.save()","collection":"randimals","payonly":true,"upsert":false,"multi":false,"operation":"store","x":450,"y":60,"wires":[]},{"id":"c681c16d.f1b75","type":"ui_template","z":"78aa23bf.a8a78c","group":"a2e4c46e.8b6a58","name":"Display Randimal","order":1,"width":"6","height":"2","format":"<div>\n    <p><b> Latest Message:</b></p>\n    <p ng-bind-html=\"msg.payload[0].text\">{{msg.payload.text}}\n    <p ng-bind-html=\"msg.payload[0].timestamp\">{{msg.payload.timestamp}}    \n\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":830,"y":160,"wires":[[]]},{"id":"cfec8c20.2beec","type":"json","z":"78aa23bf.a8a78c","name":"","property":"payload","action":"","pretty":false,"x":250,"y":60,"wires":[["cfbe4aac.971908"]]},{"id":"b6981a0e.e6ded8","type":"inject","z":"78aa23bf.a8a78c","name":"QueryInterval","topic":"","payload":"true","payloadType":"bool","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":140,"y":160,"wires":[["42347f11.15c3f"]]},{"id":"a3b8b2ce.a3649","type":"mongodb in","z":"78aa23bf.a8a78c","mongodb":"bab86709.ffc668","name":"Last Randimal","collection":"randimals","operation":"find","x":600,"y":160,"wires":[["c681c16d.f1b75"]]},{"id":"42347f11.15c3f","type":"change","z":"78aa23bf.a8a78c","name":"setQueryParams","rules":[{"t":"set","p":"limit","pt":"msg","to":"1","tot":"str"},{"t":"set","p":"sort","pt":"msg","to":"{\"timestamp\" : -1}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":160,"wires":[["a3b8b2ce.a3649"]]},{"id":"aba52fda.e7471","type":"comment","z":"78aa23bf.a8a78c","name":"","info":"msg.sort must be a valid json object (NOT a string)\nmongodb will interpret it is bson","x":340,"y":200,"wires":[]},{"id":"f3f8bcf0.e2f88","type":"comment","z":"78aa23bf.a8a78c","name":"TODO!","info":"1) Inject timestamp, pass it along\n (set to flow context var?)\n \n2) Display the \"last query time\" on the UI","x":90,"y":200,"wires":[]},{"id":"b3847898.3af8f8","type":"ui_text","z":"2bb43f04.7f0d5","group":"1e56d15.7cf6b2f","order":2,"width":0,"height":0,"name":"LastChecked","label":"Last Checked","format":"<font color=\"#cccccc\">{{msg.payload | date:'yyyy-MM-dd HH:mm:ss' }}</font>","layout":"row-spread","x":350,"y":60,"wires":[]},{"id":"a1847ba7.0b68b8","type":"mqtt in","z":"d50d55f2.48d4a8","name":"mosquitto","topic":"aquarium/#","qos":"2","broker":"3e559124.2e2dbe","x":100,"y":40,"wires":[["9afe19bd.865c68","d3d1b07a.80b36"]]},{"id":"c742b38b.839d2","type":"mongodb out","z":"d50d55f2.48d4a8","mongodb":"bab86709.ffc668","name":"db.aquarium.save()","collection":"aquarium","payonly":true,"upsert":false,"multi":false,"operation":"store","x":460,"y":40,"wires":[]},{"id":"c0c47bb2.291a18","type":"ui_template","z":"d50d55f2.48d4a8","group":"744c464d.98be08","name":"TemperatureData","order":1,"width":"6","height":"2","format":"<div>\n    <p><b> Latest Reading:</b></p>\n    <p ng-bind-html=\"msg.payload[0].timestamp\">{{msg.payload.timestamp}} \n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":830,"y":200,"wires":[[]]},{"id":"9afe19bd.865c68","type":"json","z":"d50d55f2.48d4a8","name":"","property":"payload","action":"","pretty":false,"x":260,"y":40,"wires":[["c742b38b.839d2"]]},{"id":"7aa66139.3573b","type":"inject","z":"d50d55f2.48d4a8","name":"QueryInterval","topic":"","payload":"true","payloadType":"bool","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":140,"y":200,"wires":[["1d4d79f1.b71d56"]]},{"id":"ae438460.02d168","type":"mongodb in","z":"d50d55f2.48d4a8","mongodb":"bab86709.ffc668","name":"Last Reading","collection":"aquarium","operation":"find","x":590,"y":200,"wires":[["c0c47bb2.291a18","bd5c808c.94c","7e1216d2.e1d028","76d196b8.cd6d88","836d590d.078708"]]},{"id":"1d4d79f1.b71d56","type":"change","z":"d50d55f2.48d4a8","name":"setQueryParams","rules":[{"t":"set","p":"limit","pt":"msg","to":"1","tot":"str"},{"t":"set","p":"sort","pt":"msg","to":"{\"timestamp\" : -1}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":200,"wires":[["ae438460.02d168"]]},{"id":"927c5645.1cd188","type":"comment","z":"d50d55f2.48d4a8","name":"","info":"msg.sort must be a valid json object (NOT a string)\nmongodb will interpret it is bson","x":340,"y":240,"wires":[]},{"id":"4db6c8c6.d865c8","type":"comment","z":"d50d55f2.48d4a8","name":"","info":"find() call returns an object array","x":580,"y":260,"wires":[]},{"id":"c945a024.e3ea5","type":"comment","z":"d50d55f2.48d4a8","name":"TODO!","info":"Add the incoming timestamp as a \"received-time\" timestamp","x":90,"y":120,"wires":[]},{"id":"bd5c808c.94c","type":"ui_gauge","z":"d50d55f2.48d4a8","name":"","group":"744c464d.98be08","order":0,"width":0,"height":0,"gtype":"gage","title":"TempGauge","label":"Degrees Celcius","format":"{{msg.payload[0].temp}}","min":"-10","max":"50","colors":["#c8ffff","#00c800","#ff6400"],"seg1":"0","seg2":"25","x":810,"y":240,"wires":[]},{"id":"7e1216d2.e1d028","type":"ui_template","z":"d50d55f2.48d4a8","group":"9a826ce1.e347a","name":"HumidityData","order":1,"width":"6","height":"2","format":"<div>\n    <p><b> Latest Reading:</b></p>\n    <p ng-bind-html=\"msg.payload[0].timestamp\">{{msg.payload.timestamp}} \n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":820,"y":300,"wires":[[]]},{"id":"76d196b8.cd6d88","type":"ui_gauge","z":"d50d55f2.48d4a8","name":"","group":"9a826ce1.e347a","order":0,"width":0,"height":0,"gtype":"gage","title":"HumidityGauge","label":"Percent","format":"{{msg.payload[0].humidity}}","min":"0","max":"100","colors":["#00c8c8","#00c800","#c80000"],"seg1":"33","seg2":"66","x":820,"y":340,"wires":[]},{"id":"d3d1b07a.80b36","type":"debug","z":"d50d55f2.48d4a8","name":"incoming","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":260,"y":100,"wires":[]},{"id":"836d590d.078708","type":"debug","z":"d50d55f2.48d4a8","name":"lastRead","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":800,"y":140,"wires":[]},{"id":"e0625568.c3c968","type":"comment","z":"78aa23bf.a8a78c","name":"","info":"find() call returns an object array","x":720,"y":200,"wires":[]}]